<!doctype html>
<html class="no-js lang=" ru>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>TESTASK</title>

    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./owl/owl.carousel.min.css">
    <link rel="stylesheet" href="./owl/owl.theme.default.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="./owl/jquery.min.js"></script>
    <script src="./owl/owl.carousel.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="logo"></div>
        <div class="menu">
          <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        Menu
      </div>
        <nav class="nav">
          {% for navItem in navItems %}
            <a class="nav__item" href="#">{{navItem}}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <section class="welcome owl-carousel owl-theme">
      <div class="carousel__item container">
        <div class="welcome__text">
          <h1>{{ welcomeHeader }}</h1>
          <p class="underCapture">
            {{ welcomeUnderCapture }}
          </p>
          <p class="regularText">
            {{ welcomeText }}
          </p>
          <div class="icons">
            <i class="fab fa-apple"></i>
            <i class="fab fa-android"></i>
            <i class="fab fa-windows"></i>
          </div>
        </div>
        <div class="welcome__image"></div>
      </div>
      <div class="carousel__item container">
        <div class="welcome__text">
          <h1>{{ welcomeHeader }}</h1>
          <p class="underCapture">
            {{ welcomeUnderCapture }}
          </p>
          <p class="regularText">
            {{ welcomeText }}
          </p>
          <div class="icons">
            <i class="fab fa-apple"></i>
            <i class="fab fa-android"></i>
            <i class="fab fa-windows"></i>
          </div>
        </div>
        <div class="welcome__image"></div>
      </div>
      <div class="carousel__item container">
        <div class="welcome__text">
          <h1>{{ welcomeHeader }}</h1>
          <p class="underCapture">
            {{ welcomeUnderCapture }}
          </p>
          <p class="regularText">
            {{ welcomeText }}
          </p>
          <div class="icons">
            <i class="fab fa-apple"></i>
            <i class="fab fa-android"></i>
            <i class="fab fa-windows"></i>
          </div>
        </div>
        <div class="welcome__image"></div>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="capture">
          <h2>{{ featuresHeader }}</h2>
          <p class="underCapture">
          {{ featuresUnderCapture }}
        </p>
        </div>
        <div class="feature-container">
          {% for item in features %}
            <div class="feature">
              <div class="feature__icon">
                <i class="{{ item.icon }}"></i>
              </div>
              <div class="feature__text">
                <h3>{{ item.header }}</h3>
                <p class="regularText">
                  {{ item.text }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="capture">
          <h2>{{ footerHeader }}</h2>
          <p class="underCapture">
          {{ footerUnderCapture }}
        </p>
        </div>
        <form method="POST" id="contact-form">
          <input id="inputEmail" name="_replyto" type="email" required placeholder="Enter your email to update">
          <input type="submit"  value="SUBMIT">
        </form>
        <div class="social">
          {% for item in social %}
            <i class="{{ item }}"></i>
          {% endfor %}
        </div>
        <div class="footer-nav">
          <ul class="about">
            {% for item in contacts %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% for item in footerNav %}
            <ul>
              {% for el in item %}
                <li>{{ el }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/0b407e0711.js"></script>
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({loop: true, dots: true, items: 1});
        $('.menu').click(function () {
          $('#hamburger').toggleClass('open');
          $('.header').toggleClass('open');
        });
      });
    </script>
  </body>
</html>